n8n-workflows/hotel-vector-db-workflow.json
{
  "name": "Hotel Vector DB Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1BdxvU9tyYs_Lk9JuCRNUKl0LLeAQ7PdW",
          "mode": "list",
          "cachedResultName": "hotels docs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1BdxvU9tyYs_Lk9JuCRNUKl0LLeAQ7PdW"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        272,
        128
      ],
      "id": "8276a6e9-24cd-470c-9b22-d0dd5f62814d",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s547XVBTyyogmes0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        496,
        128
      ],
      "id": "22cc4aff-3a98-4b5f-b4d2-9df1ba920563",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s547XVBTyyogmes0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-hotels",
          "mode": "list",
          "cachedResultName": "n8n-hotels"
        },
        "options": {
          "pineconeNamespace": "={{ $node[\"Google Drive Trigger\"].json.name.toLowerCase().includes('polic') ? 'policies' : 'overview' }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        752,
        128
      ],
      "id": "c9021292-5990-4e99-bf34-67a9493d8f1f",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "g9BCbSoRfm9Kd9wB",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        848,
        352
      ],
      "id": "68890f46-e669-4104-975b-42a9ad19a0c5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        928,
        560
      ],
      "id": "3bfce961-72cd-48f0-bb5a-e64177aebd4c",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        688,
        352
      ],
      "id": "2c11ce0d-9a6d-4de6-aa14-188736e8e950",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "OauTJzGKddQ7qeow",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        []
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7edc7320-95b6-4dda-bc6d-b3076b6b1e7a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64ff35ec8fe8f6a2ceb6a46f0cf6c8bbc2b7888b5a9b7ebfe2493e32098e352b"
  },
  "nodeGroups": [],
  "id": "LqmLsGEFSvfv54pF",
  "tags": []
}