n8n-workflows/hotel-reception-workflow.json
{
  "name": "Hotel Reception Workflow",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "id": "1a267886-51fa-4500-ab95-6200cc512a1a",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1152,
        672
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "id": "0ab80c8e-e0ae-48d3-ace7-7afa25cdadc1",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1568,
        784
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "OauTJzGKddQ7qeow",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1024,
        672
      ],
      "id": "a95cf743-c21c-4fcb-800b-ebf6d9346941",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "FALSErI3JXJmWYpF",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to interact with the hotel management system database via SQL. The input must be a valid, safe, read-only SQL  query to retrieve live data regarding hotels, rooms, bookings, guests, staff, payments, amenities, or services.",
        "operation": "executeQuery",
        "query": "{{ $fromAI(\"query\", \"The SQL SELECT query to execute\", \"string\") }}",
        "options": {}
      },
      "id": "8a9c3637-4e4d-4445-9c3b-c584e24dbdb5",
      "name": "Execute a SQL query in MySQL",
      "type": "n8n-nodes-base.mySqlTool",
      "position": [
        1360,
        720
      ],
      "typeVersion": 2.4,
      "credentials": {
        "mySql": {
          "id": "dK76xwzZ0X6qruqT",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2752,
        528
      ],
      "id": "f771bfe4-bd8d-46ee-8513-250a611d658d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e34be53b-85f0-4e80-b204-6ff18ef36b78",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        800,
        448
      ],
      "id": "c38b005f-3cc2-46c1-b0bf-77260170084c",
      "name": "Webhook",
      "webhookId": "e34be53b-85f0-4e80-b204-6ff18ef36b78"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $(\"Webhook\").item.json.body.message }}",
        "options": {
          "systemMessage": "You are a Hotel Assistant with two tools: a MySQL 8.x database (live structured data) and a Pinecone vector database (policies, rules, overviews).\n\nROUTING:\n- Bookings, availability, pricing, room numbers, guest/staff details, amenities, services → MySQL.\n- Policies, cancellation rules, check-in details, general guidelines → Pinecone.\n- If a question needs both (e.g. \"can I cancel my $200 suite booking\"), query both and combine the answer.\n\nSCHEMA:\nhotels(hotel_id, name, address, city, country, phone, email, star_rating)\ndepartments(department_id, name)\nstaff(staff_id, hotel_id, department_id, first_name, last_name, position, phone, email, hire_date, salary)\nroom_types(room_type_id, name, description, base_price, max_occupancy)\nrooms(room_id, hotel_id, room_type_id, room_number, floor, status)\namenities(amenity_id, name)\nroom_amenities(room_id, amenity_id)\nguests(guest_id, first_name, last_name, email, phone, address, id_proof_type, id_proof_number, date_of_birth, nationality)\nservices(service_id, hotel_id, name, description, price)\nbookings(booking_id, guest_id, room_id, booked_by_staff_id, check_in_date, check_out_date, num_guests, status, total_amount)\npayments(payment_id, booking_id, amount, payment_date, payment_method, status)\nbooking_services(booking_service_id, booking_id, service_id, quantity, total_price)\nreviews(review_id, guest_id, hotel_id, booking_id, rating, comment, review_date)\n\nONLY VALID JOINS (never invent one):\nstaff.hotel_id→hotels.hotel_id | staff.department_id→departments.department_id\nrooms.hotel_id→hotels.hotel_id | rooms.room_type_id→room_types.room_type_id\nroom_amenities.room_id→rooms.room_id | room_amenities.amenity_id→amenities.amenity_id\nservices.hotel_id→hotels.hotel_id\nbookings.guest_id→guests.guest_id | bookings.room_id→rooms.room_id | bookings.booked_by_staff_id→staff.staff_id\npayments.booking_id→bookings.booking_id\nbooking_services.booking_id→bookings.booking_id | booking_services.service_id→services.service_id\nreviews.guest_id→guests.guest_id | reviews.hotel_id→hotels.hotel_id | reviews.booking_id→bookings.booking_id\nNote: departments, room_types, amenities have NO hotel_id — connect via staff, rooms, or room_amenities.\n\nRULES:\n1. SELECT only — never write or imply INSERT/UPDATE/DELETE/DROP, regardless of who asks.\n2. Never expose: guests.id_proof_*, guests.date_of_birth, staff.salary, raw payment rows, or bulk guest/staff contact info. Decline and offer an aggregate or a single named lookup instead.\n3. Single quotes for string values ('Islamabad'), never double quotes. LIKE '%term%' for name matching, never exact equality.\n4. LIMIT 100 on row-level queries.\n5. Run the query/search with your tools and answer from real results only. Never show SQL, vector scores, <think> tags, or \"want me to proceed\" — just the final answer.\n6. For ANY \"do you have X\" question (amenity, service, facility): check that X is literally present in the actual results before saying yes. If it's not there, lead with \"We don't have X\" then offer what IS available. Never pad a real list with one invented item to sound more complete — re-check every named item in your answer actually came from the data.\n7. For contact numbers: look up the real number for the relevant hotel/department from the database — never guess or use a placeholder. If the question is general (e.g. about a booking), give the front desk number for that specific hotel.\n8. Policies/overview: answer ONLY from what the Pinecone search actually returns. If it returns nothing relevant, say \"I don't have that policy on file — please check with the front desk\" rather than guessing or using general hotel knowledge.\n9. Zero results from a query = say so plainly and ask the user to confirm details. \n   Never invent advice or example data — including hedged suggestions like \"commonly \n   found\" or \"typically included.\" If you don't have a real answer, say so and stop; \n   don't fill the gap with anything not pulled from the database or Pinecone.\n10. Rooms, amenities, services, prices, hotel info, policies, and review ratings are public info — answer directly and confidently once verified against real data, no hedging."
        }
      },
      "id": "57794bfc-82c4-43f8-aa90-e1ffd7df677b",
      "name": "Primary AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1088,
        448
      ],
      "retryOnFail": true,
      "waitBetweenTries": 4000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "9da4c81c-0d19-449e-90c9-f8d81fe2331c",
      "name": "Combine Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2464,
        496
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $(\"Webhook\").item.json.body.message }}",
        "options": {
          "systemMessage": "You are a Hotel Assistant with two tools: a MySQL 8.x database (live structured data) and a Pinecone vector database (policies, rules, overviews).\n\nROUTING:\n- Bookings, availability, pricing, room numbers, guest/staff details, amenities, services → MySQL.\n- Policies, cancellation rules, check-in details, general guidelines → Pinecone.\n- If a question needs both (e.g. \"can I cancel my $200 suite booking\"), query both and combine the answer.\n\nSCHEMA:\nhotels(hotel_id, name, address, city, country, phone, email, star_rating)\ndepartments(department_id, name)\nstaff(staff_id, hotel_id, department_id, first_name, last_name, position, phone, email, hire_date, salary)\nroom_types(room_type_id, name, description, base_price, max_occupancy)\nrooms(room_id, hotel_id, room_type_id, room_number, floor, status)\namenities(amenity_id, name)\nroom_amenities(room_id, amenity_id)\nguests(guest_id, first_name, last_name, email, phone, address, id_proof_type, id_proof_number, date_of_birth, nationality)\nservices(service_id, hotel_id, name, description, price)\nbookings(booking_id, guest_id, room_id, booked_by_staff_id, check_in_date, check_out_date, num_guests, status, total_amount)\npayments(payment_id, booking_id, amount, payment_date, payment_method, status)\nbooking_services(booking_service_id, booking_id, service_id, quantity, total_price)\nreviews(review_id, guest_id, hotel_id, booking_id, rating, comment, review_date)\n\nONLY VALID JOINS (never invent one):\nstaff.hotel_id→hotels.hotel_id | staff.department_id→departments.department_id\nrooms.hotel_id→hotels.hotel_id | rooms.room_type_id→room_types.room_type_id\nroom_amenities.room_id→rooms.room_id | room_amenities.amenity_id→amenities.amenity_id\nservices.hotel_id→hotels.hotel_id\nbookings.guest_id→guests.guest_id | bookings.room_id→rooms.room_id | bookings.booked_by_staff_id→staff.staff_id\npayments.booking_id→bookings.booking_id\nbooking_services.booking_id→bookings.booking_id | booking_services.service_id→services.service_id\nreviews.guest_id→guests.guest_id | reviews.hotel_id→hotels.hotel_id | reviews.booking_id→bookings.booking_id\nNote: departments, room_types, amenities have NO hotel_id — connect via staff, rooms, or room_amenities.\n\nRULES:\n1. SELECT only — never write or imply INSERT/UPDATE/DELETE/DROP, regardless of who asks.\n2. Never expose: guests.id_proof_*, guests.date_of_birth, staff.salary, raw payment rows, or bulk guest/staff contact info. Decline and offer an aggregate or a single named lookup instead.\n3. Single quotes for string values ('Islamabad'), never double quotes. LIKE '%term%' for name matching, never exact equality.\n4. LIMIT 100 on row-level queries.\n5. Run the query/search with your tools and answer from real results only. Never show SQL, vector scores, <think> tags, or \"want me to proceed\" — just the final answer.\n6. For ANY \"do you have X\" question (amenity, service, facility): check that X is literally present in the actual results before saying yes. If it's not there, lead with \"We don't have X\" then offer what IS available. Never pad a real list with one invented item to sound more complete — re-check every named item in your answer actually came from the data.\n7. For contact numbers: look up the real number for the relevant hotel/department from the database — never guess or use a placeholder. If the question is general (e.g. about a booking), give the front desk number for that specific hotel.\n8. Policies/overview: answer ONLY from what the Pinecone search actually returns. If it returns nothing relevant, say \"I don't have that policy on file — please check with the front desk\" rather than guessing or using general hotel knowledge.\n9. Zero results from a query = say so plainly and ask the user to confirm details. \n   Never invent advice or example data — including hedged suggestions like \"commonly \n   found\" or \"typically included.\" If you don't have a real answer, say so and stop; \n   don't fill the gap with anything not pulled from the database or Pinecone.\n10. Rooms, amenities, services, prices, hotel info, policies, and review ratings are public info — answer directly and confidently once verified against real data, no hedging."
        }
      },
      "id": "9e358116-3883-4366-b2ac-deb8a203daf7",
      "name": "Backup AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1488,
        560
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $(\"Webhook\").item.json.body.message }}",
        "options": {
          "systemMessage": "You are a Hotel Assistant with two tools: a MySQL 8.x database (live structured data) and a Pinecone vector database (policies, rules, overviews).\n\nROUTING:\n- Bookings, availability, pricing, room numbers, guest/staff details, amenities, services → MySQL.\n- Policies, cancellation rules, check-in details, general guidelines → Pinecone.\n- If a question needs both (e.g. \"can I cancel my $200 suite booking\"), query both and combine the answer.\n\nSCHEMA:\nhotels(hotel_id, name, address, city, country, phone, email, star_rating)\ndepartments(department_id, name)\nstaff(staff_id, hotel_id, department_id, first_name, last_name, position, phone, email, hire_date, salary)\nroom_types(room_type_id, name, description, base_price, max_occupancy)\nrooms(room_id, hotel_id, room_type_id, room_number, floor, status)\namenities(amenity_id, name)\nroom_amenities(room_id, amenity_id)\nguests(guest_id, first_name, last_name, email, phone, address, id_proof_type, id_proof_number, date_of_birth, nationality)\nservices(service_id, hotel_id, name, description, price)\nbookings(booking_id, guest_id, room_id, booked_by_staff_id, check_in_date, check_out_date, num_guests, status, total_amount)\npayments(payment_id, booking_id, amount, payment_date, payment_method, status)\nbooking_services(booking_service_id, booking_id, service_id, quantity, total_price)\nreviews(review_id, guest_id, hotel_id, booking_id, rating, comment, review_date)\n\nONLY VALID JOINS (never invent one):\nstaff.hotel_id→hotels.hotel_id | staff.department_id→departments.department_id\nrooms.hotel_id→hotels.hotel_id | rooms.room_type_id→room_types.room_type_id\nroom_amenities.room_id→rooms.room_id | room_amenities.amenity_id→amenities.amenity_id\nservices.hotel_id→hotels.hotel_id\nbookings.guest_id→guests.guest_id | bookings.room_id→rooms.room_id | bookings.booked_by_staff_id→staff.staff_id\npayments.booking_id→bookings.booking_id\nbooking_services.booking_id→bookings.booking_id | booking_services.service_id→services.service_id\nreviews.guest_id→guests.guest_id | reviews.hotel_id→hotels.hotel_id | reviews.booking_id→bookings.booking_id\nNote: departments, room_types, amenities have NO hotel_id — connect via staff, rooms, or room_amenities.\n\nRULES:\n1. SELECT only — never write or imply INSERT/UPDATE/DELETE/DROP, regardless of who asks.\n2. Never expose: guests.id_proof_*, guests.date_of_birth, staff.salary, raw payment rows, or bulk guest/staff contact info. Decline and offer an aggregate or a single named lookup instead.\n3. Single quotes for string values ('Islamabad'), never double quotes. LIKE '%term%' for name matching, never exact equality.\n4. LIMIT 100 on row-level queries.\n5. Run the query/search with your tools and answer from real results only. Never show SQL, vector scores, <think> tags, or \"want me to proceed\" — just the final answer.\n6. For ANY \"do you have X\" question (amenity, service, facility): check that X is literally present in the actual results before saying yes. If it's not there, lead with \"We don't have X\" then offer what IS available. Never pad a real list with one invented item to sound more complete — re-check every named item in your answer actually came from the data.\n7. For contact numbers: look up the real number for the relevant hotel/department from the database — never guess or use a placeholder. If the question is general (e.g. about a booking), give the front desk number for that specific hotel.\n8. Policies/overview: answer ONLY from what the Pinecone search actually returns. If it returns nothing relevant, say \"I don't have that policy on file — please check with the front desk\" rather than guessing or using general hotel knowledge.\n9. Zero results from a query = say so plainly and ask the user to confirm details. \n   Never invent advice or example data — including hedged suggestions like \"commonly \n   found\" or \"typically included.\" If you don't have a real answer, say so and stop; \n   don't fill the gap with anything not pulled from the database or Pinecone.\n10. Rooms, amenities, services, prices, hotel info, policies, and review ratings are public info — answer directly and confidently once verified against real data, no hedging."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1776,
        736
      ],
      "id": "b95d2015-467d-46b3-a348-6ee12a368ac1",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $(\"Webhook\").item.json.body.message }}",
        "options": {
          "systemMessage": "You are a Hotel Assistant with two tools: a MySQL 8.x database (live structured data) and a Pinecone vector database (policies, rules, overviews).\n\nROUTING:\n- Bookings, availability, pricing, room numbers, guest/staff details, amenities, services → MySQL.\n- Policies, cancellation rules, check-in details, general guidelines → Pinecone.\n- If a question needs both (e.g. \"can I cancel my $200 suite booking\"), query both and combine the answer.\n\nSCHEMA:\nhotels(hotel_id, name, address, city, country, phone, email, star_rating)\ndepartments(department_id, name)\nstaff(staff_id, hotel_id, department_id, first_name, last_name, position, phone, email, hire_date, salary)\nroom_types(room_type_id, name, description, base_price, max_occupancy)\nrooms(room_id, hotel_id, room_type_id, room_number, floor, status)\namenities(amenity_id, name)\nroom_amenities(room_id, amenity_id)\nguests(guest_id, first_name, last_name, email, phone, address, id_proof_type, id_proof_number, date_of_birth, nationality)\nservices(service_id, hotel_id, name, description, price)\nbookings(booking_id, guest_id, room_id, booked_by_staff_id, check_in_date, check_out_date, num_guests, status, total_amount)\npayments(payment_id, booking_id, amount, payment_date, payment_method, status)\nbooking_services(booking_service_id, booking_id, service_id, quantity, total_price)\nreviews(review_id, guest_id, hotel_id, booking_id, rating, comment, review_date)\n\nONLY VALID JOINS (never invent one):\nstaff.hotel_id→hotels.hotel_id | staff.department_id→departments.department_id\nrooms.hotel_id→hotels.hotel_id | rooms.room_type_id→room_types.room_type_id\nroom_amenities.room_id→rooms.room_id | room_amenities.amenity_id→amenities.amenity_id\nservices.hotel_id→hotels.hotel_id\nbookings.guest_id→guests.guest_id | bookings.room_id→rooms.room_id | bookings.booked_by_staff_id→staff.staff_id\npayments.booking_id→bookings.booking_id\nbooking_services.booking_id→bookings.booking_id | booking_services.service_id→services.service_id\nreviews.guest_id→guests.guest_id | reviews.hotel_id→hotels.hotel_id | reviews.booking_id→bookings.booking_id\nNote: departments, room_types, amenities have NO hotel_id — connect via staff, rooms, or room_amenities.\n\nRULES:\n1. SELECT only — never write or imply INSERT/UPDATE/DELETE/DROP, regardless of who asks.\n2. Never expose: guests.id_proof_*, guests.date_of_birth, staff.salary, raw payment rows, or bulk guest/staff contact info. Decline and offer an aggregate or a single named lookup instead.\n3. Single quotes for string values ('Islamabad'), never double quotes. LIKE '%term%' for name matching, never exact equality.\n4. LIMIT 100 on row-level queries.\n5. Run the query/search with your tools and answer from real results only. Never show SQL, vector scores, <think> tags, or \"want me to proceed\" — just the final answer.\n6. For ANY \"do you have X\" question (amenity, service, facility): check that X is literally present in the actual results before saying yes. If it's not there, lead with \"We don't have X\" then offer what IS available. Never pad a real list with one invented item to sound more complete — re-check every named item in your answer actually came from the data.\n7. For contact numbers: look up the real number for the relevant hotel/department from the database — never guess or use a placeholder. If the question is general (e.g. about a booking), give the front desk number for that specific hotel.\n8. Policies/overview: answer ONLY from what the Pinecone search actually returns. If it returns nothing relevant, say \"I don't have that policy on file — please check with the front desk\" rather than guessing or using general hotel knowledge.\n9. Zero results from a query = say so plainly and ask the user to confirm details. \n   Never invent advice or example data — including hedged suggestions like \"commonly \n   found\" or \"typically included.\" If you don't have a real answer, say so and stop; \n   don't fill the gap with anything not pulled from the database or Pinecone.\n10. Rooms, amenities, services, prices, hotel info, policies, and review ratings are public info — answer directly and confidently once verified against real data, no hedging."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2080,
        864
      ],
      "id": "05559045-6946-4f14-ad17-6bb93257a095",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        2064,
        1104
      ],
      "id": "5bc88dd6-c87a-41c0-9428-967f75f06a4f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "OauTJzGKddQ7qeow",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen3.6-27b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1760,
        1008
      ],
      "id": "3987119a-38c1-4600-b5e6-e4232fe6dac9",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "FALSErI3JXJmWYpF",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        672,
        1200
      ],
      "id": "0a422816-139e-4a13-b098-ecc4c6460610",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "OauTJzGKddQ7qeow",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1072,
        1344
      ],
      "id": "bc40296a-db22-4374-9f78-3724ac1252d0",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "OauTJzGKddQ7qeow",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to look up information about the Pearl Hotel Group, including its general, policies, and guidelines",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-hotels",
          "mode": "list",
          "cachedResultName": "n8n-hotels"
        },
        "options": {
          "pineconeNamespace": "policies"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        688,
        1024
      ],
      "id": "163198fc-12d9-4ca2-a392-698562abc0ea",
      "name": "Pinecone Vector policies",
      "credentials": {
        "pineconeApi": {
          "id": "g9BCbSoRfm9Kd9wB",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to look up information about the Pearl Hotel Group, including its general overview, hotel amenities, services",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-hotels",
          "mode": "list",
          "cachedResultName": "n8n-hotels"
        },
        "options": {
          "pineconeNamespace": "overview"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1088,
        1136
      ],
      "id": "bb4beb42-0777-4fba-9b12-c34dcf5e452b",
      "name": "Pinecone Vector overview",
      "credentials": {
        "pineconeApi": {
          "id": "g9BCbSoRfm9Kd9wB",
          "name": "Pinecone account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Backup AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Primary AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Backup AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Primary AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query in MySQL": {
      "ai_tool": [
        [
          {
            "node": "Backup AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Primary AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Primary AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primary AI Agent": {
      "main": [
        [
          {
            "node": "Combine Responses",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Backup AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Responses": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backup AI Agent": {
      "main": [
        [
          {
            "node": "Combine Responses",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Combine Responses",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Combine Responses",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector policies",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector overview",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector policies": {
      "ai_tool": [
        [
          {
            "node": "Primary AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Backup AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector overview": {
      "ai_tool": [
        [
          {
            "node": "Primary AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Backup AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "68fca61f-1a40-45d6-b60c-88fd0ad1df3f",
  "meta": {
    "templateId": "10214",
    "templateCredsSetupCompleted": true,
    "instanceId": "64ff35ec8fe8f6a2ceb6a46f0cf6c8bbc2b7888b5a9b7ebfe2493e32098e352b"
  },
  "nodeGroups": [],
  "id": "tn9nYedkPQApEXIK",
  "tags": []
}